# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/hybrid-business/.mvn/wrapper/
/.idea/.gitignore
/.idea/
/hybrid-business/.gitignore
/hybrid-business/mvnw
/hybrid-business/mvnw.cmd
/hybrid-manage/.mvn/wrapper/
/hybrid-manage/.gitignore
/hybrid-manage/mvnw
/hybrid-manage/mvnw.cmd
/hybrid-business/.mvn/
/hybrid-manage/.mvn/
/hybrid-common/target/
